
.container {
    width: calc(100% - 40px);
    height: 95%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.container h6 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #282C2F;
    max-width: 400px;
    line-height: 1.8rem;
}
.languages {
    display: flex;
    align-items: center;
    gap: 20px;
}
.language {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.language h6 {
    text-align: center;
    color: #282C2F;
    font-size: 0.95rem;
    font-weight: bold;
}
.language:hover {
    background: #E3E7EA;
}
.video_player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.paragraph {
    font-size: 1rem;
    line-height: 1.8rem;
}
.title {
    font-size: 1.8rem;
    text-align: left;
}
.french {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 14px;
}
.tounsi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 14px;
}

/*  Mobile  */

@media only screen and (width < 600px) {
    .container {
        padding-top: 170px;
    }
    .languages {
        flex-direction: column;
    }
    .video_player {
        width: 100%;
        height: 200px;
    }
    .video_player>* {
        height: 100%;
        width: 100%;
        margin-top: -150px;
    }
}
