
.banner_container {
    width: calc(100% - 40px);
    overflow: hidden;
    border-radius: 5px;
    height: 350px;
    background: url(https://images.pexels.com/photos/3082341/pexels-photo-3082341.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px auto 0;
}
.banner {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.4);
}
.banner_title {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 42px;
}
.banner_subtitle {
    text-align: center;
    color: #fff;
    font-weight: normal;
    --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    font-size: 18px;
    max-width: 600px;
    line-height: 32px;
}
