
.container {
    width: calc(100% - 40px);
    height: 95%;
    margin: 0 auto;
    display: flex;
    gap: 0px;
    padding-top: 20px;
}
.file {
    width: 110px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.file:hover {
    background: rgba(0,191,255, 0.7);
}
.file_thumbnail_container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.file h6 {
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #282C2F;
}
